<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <Http name="Http" url="http://fluentd-es.logging:24224">
            <JsonLayout compact="true" eventEol="true">
                <KeyValuePair key="hostname" value="${hostName}"/>
                <KeyValuePair key="_tracing" value="$${ctx:tracing}"/>
            </JsonLayout>
        </Http>
    </appenders>

    <!-- 然後定義logger，只有定義了logger並引入的appender，appender才會生效 -->
    <loggers>
        <!--過濾掉spring和mybatis的一些無用的DEBUG信息        -->
        <logger name="org.springframework" level="ERROR"></logger>
        <logger name="org.mybatis" level="ERROR"></logger>
        <logger name="org.hibernate" level="ERROR"></logger>

        <root level="info">
            <appender-ref ref="Http"/>
        </root>
    </loggers>
</configuration>
